<menu>
    <Reporting>
        <Loupe VisibleName="Loupe" order="45" url="/ui/loupe/">
            <Devices order="10" url="/ui/loupe/"/>
            <Lookup order="20" VisibleName="Lookup" url="/ui/loupe/index/lookup"/>
            <Settings order="30" url="/ui/loupe/index/settings"/>
        </Loupe>
    </Reporting>
</menu>
